@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

html {
  font-size: 62.5%;
  height: -webkit-fill-available;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #272e43;
  font-family: "Inter", sans-serif;
  color: white;
  height: 100vh;
  height: -webkit-fill-available;
}

p {
  width: 1px;
  margin: auto;
}
nav {
  position: absolute;
  left: 0;
  right: 0;
  top: 7rem;
  text-align: center;
}
nav a {
  color: white;
  text-decoration: none;
  letter-spacing: 1.5px;
  font-weight: 300;
  margin: 0 2rem 0 2rem;
  font-size: 2rem;
}

#section-hero {
  display: flex;
  flex-direction: column;
  height: 100vh;
  height: -webkit-fill-available;
  justify-content: center;
}

#circle {
  width: 16rem;
  height: 12rem;
  background-color: grey;
  border-radius: 5px;
  margin: auto;
  margin-bottom: 1rem;
}
#section-hero h1 {
  margin: 0 0 -1rem 0;
  text-align: center;
  font-weight: 200;
  font-size: 3.5rem;
}
#section-hero span {
  font-weight: 500;
}

#section-about {
  background-color: white;
  height: 100vh;
}
.fa-solid {
  position: absolute;
  font-size: 3rem;
  left: 0;
  right: 0;
  bottom: 7rem;
  text-align: center;
}
#section-about {
  color: #272e43;
  text-align: center;
}
#section-about h1 {
  font-weight: 300;
  font-size: 2.5rem;
  padding-top: 20rem;
}
#section-about h3 {
  font-size: 2rem;
  margin: auto;
  margin-bottom: 1rem;
  width: 30rem;
}
#section-about h2 {
  font-weight: 300;
  font-size: 2.2rem;
  margin-top: 5rem;
}
#section-about p {
  margin: auto;
  width: 25rem;
  font-size: 1.5rem;
}
.skill-pill {
  padding: 0.7rem;
  border-radius: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.5rem;
  width: 10rem;
  font-weight: 700;
  color: #222;
}
#html {
  background-color: #fe673f;
}
#css {
  background-color: #2965f1;
}
#javascript {
  background-color: #ffc700;
}
#photoshop {
  background-color: #31a8ff;
}
#illustrator {
  background-color: #f8a829;
}

#section-projects {
  text-align: center;
  background-color: #272e43;
  padding-bottom: 4rem;
}
#section-projects h1 {
  font-weight: 300;
  font-size: 2.5rem;
  padding-top: 3rem;
  padding-bottom: 2rem;
}
.project-window {
  width: 25rem;
  height: 15rem;
  border-radius: 5px;
  background-color: grey;
  margin: auto;
}
.project-title {
  font-size: 2.5rem;
  margin: 1rem 0 1rem 0;
}
.project-description {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 4rem;
  width: 27rem;
  font-size: 1.5rem;
}

#section-contact {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#section-contact h1 {
  font-weight: 300;
  font-size: 2.5rem;
  padding-top: 3rem;
  padding-bottom: 2rem;
  text-align: center;
}
form {
  text-align: center;
}
input {
  padding: 0.5rem;
  border-radius: 5px;
}
#message {
  margin-top: 0.5rem;
  height: 20rem;
}
#name,
#email {
  margin-bottom: 0.5rem;
}

footer {
  height: 10rem;
  background-color: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
  margin-top: 14rem;
}
footer i {
  font-size: 4rem;
}
.fa-linkedin {
  color: #31a8ff;
}
